

.contenido-jhon{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
}
.side-bar-jhon{
    background-color: #323484;
    border-radius: 10px;
}
.logo-jhon{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/*------------------------------------------------------*/

/*------------------------------------------------------*/
